body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.header,
.info,
.quote,
.advertisement {
    flex: auto;
}


.header {
    background-color: #1F2937;
}

.info {
}

.quote {
    background-color: #E5E7Eb;
}

.advertisement {
}

.footer {
    background-color: #1F2937;
    align-content: center;
    color: white;
    min-height: 72px;
    text-align: center;
    flex-grow: 0;
}